<!-- Loading starts -->
<div id="loading-wrapper" *ngIf="isLodaing">
  <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
</div>
<!-- Loading ends -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Earning Form</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="#">Home</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="d-flex justify-content-between p-3">
            <div class="no-print">
              <h3></h3>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-body">
                    <button class="btn btn-danger" (click)="downloadPdf()" *ngIf="showPreview">
                      Download PDF
                    </button>
                    <!-- PRINT AREA -->
                    <!-- EXACT A4 PRINT AREA -->
                    <!-- PDF / PREVIEW TEMPLATE -->
                    <div class="a4-wrapper" *ngIf="showPreview">
                      <div id="printA4" class="pdf-page">
                        <!-- <h2 class="text-center">Vehicle Log Sheet (Opening)</h2> -->

                        <div class="row">
                          <div class="sheet">
                            <!-- Header -->
                            <div class="pdf-header py-3">
                              <div class="left-logo-container">
                                <span><img src="../../../assets/image/login/astc.png" alt="Left Logo" class="logo-left"/></span>
                                <span style="font-size: 15px; font-weight: bold; font-family: 'Times New Roman', Times; margin-left: 1px;">
                                  <b>ASSAM STATE TRANSPORT CORPORATION</b>
                                </span>
                              </div>
                              <!-- 
                        <div class="header-title">
                          <h3>Vehicle Log Sheet (Opening)</h3>
                        </div> -->

                              <div class="logo-right">
                                <img src="../../../assets/image/logo.png" alt="Right Logo" />
                              </div>
                            </div>

                            <table class="tbl">
                              <tr>
                                <td style="width: 17%">LOG SHEET NO</td>
                                <td colspan="5" class="text-start">{{ form.timesheetNo }}</td>
                              </tr>
                              <tr>
                                <th colspan="6" class="center">
                                  VEHICLE LOG SHEET
                                </th>
                              </tr>

                              <tr>
                                <th>Depot Name</th>
                                <th>Date</th>
                                <th>Veh No</th>
                                <th>Alloted Route No</th>
                                <th>Alloted Route Name</th>
                                <th>Time of Departure from Depot</th>
                              </tr>
                              <tr>
                                <td>{{ form.routeDepot }}</td>
                                <td>
                                  {{ selectedDate | date : "dd/MM/yyyy" }}
                                  <!-- {{ currentTinme | date : "hh:mm:ss a" }} -->
                                </td>
                                <td>{{ busDetails.busNo }}</td>
                                <td>{{ form.routeNo }}</td>
                                <td>
                                  {{ form.routeName }}
                                </td>
                                <td>
                                  {{ formatTime(form.startTime) | date:'hh:mm:ss a' }}
                                </td>
                              </tr>

                              <tr>
                                <th>Driver ID</th>
                                <th>Driver Name</th>
                                <th>Driver Ph No</th>
                                <th>Conductor ID</th>
                                <th>Conductor Name</th>
                                <th>Conductor Ph No</th>
                              </tr>
                              <tr>
                                <td>{{ busDetails.driverId }}</td>
                                <td>{{ busDetails.driverName }}</td>
                                <td>{{ busDetails.driverContactNo }}</td>
                                <td>{{ busDetails.conductorId }}</td>
                                <td>{{ busDetails.conductorName }}</td>
                                <td>{{ busDetails.conductorContactNo }}</td>
                              </tr>
                            </table>

                            <!-- SOC & Meter -->
                            <table class="tbl">
                              <tr>
                                <th rowspan="2">Place</th>
                                <th colspan="3">State of Charge</th>
                                <th colspan="3">Meter Reading</th>
                              </tr>
                              <tr>
                                <th>Opening SOC</th>
                                <th>Closing SOC</th>
                                <th>Consumed SOC</th>
                                <th>Opening KM</th>
                                <th>Closing KM</th>
                                <th>Covered KM</th>
                              </tr>
                              <tr>
                                <td>{{ form.routeDepot }}</td>
                                <td>{{ form.osoc || '' }}</td>
                                <td>{{ form.csoc || '' }}</td>
                                <td>{{ form.consumedSOC || '' }}</td>
                                <td>{{ form.omr }}</td>
                                <td>{{ form.cmr || '' }}</td>
                                <td> {{ form.totalOperated || '' }} </td>
                              </tr>
                            </table>

                            <!-- Route Trip Particulars -->
                            <table class="tbl">
                              <tr>
                                <th colspan="7">ROUTE TRIP PARTICULARS</th>
                              </tr>
                              <tr>
                                <th>Route No</th>
                                <th>Trip</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Arrival Time</th>
                                <th>Departure Time</th>
                                <th>Time keeper's Signature</th>
                              </tr>

                              <!-- 8 empty rows -->
                              <tr>
                                <td rowspan="8">{{ form.routeNo }}</td>
                                <td>1</td>
                                <td>{{ form.routeDepot }}</td>
                                <td>{{ form.routeStart }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>{{ form.routeStart }}</td>
                                <td>{{ form.routeEnd }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>{{ form.routeEnd }}</td>
                                <td>{{ form.routeStart }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>{{ form.routeStart }}</td>
                                <td>{{ form.routeEnd }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>{{ form.routeEnd }}</td>
                                <td>{{ form.routeStart }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>{{ form.routeStart }}</td>
                                <td>{{ form.routeEnd }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>{{ form.routeEnd }}</td>
                                <td>{{ form.routeStart }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>8</td>
                                <td>{{ form.routeStart }}</td>
                                <td>{{ form.routeDepot }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </table>

                            <!-- Earnings -->
                            <table class="tbl">
                              <tr>
                                <th colspan="11">EARNING PARTICULARS</th>
                              </tr>
                              <tr>
                                <th>Chalo Way Bill No</th>
                                <th>Chalo Ticket Count</th>
                                <th>Chalo Pass Count</th>
                                <th>Chalo Ticket Amount</th>
                                <th>UPI</th>
                                <th>Cash Collection</th>
                                <!-- <th>Wallet Card</th>
                                <th>Card Recharge</th>
                                <th>Mobile Pass</th> -->
                                <th>Additional Amount Deposited</th>
                                <th>Total Amount Deposited</th>
                              </tr>
                              <tr>
                                <td style="height: 18px">{{form.chaloWayBillNo || ''}}</td>
                                <td>{{form.chaloTicketNo || ''}}</td>
                                <td>{{form.chaloPassengersNo || ''}}</td>
                                <td>{{form.chaloTicketAmount || ''}}</td>
                                <td>{{form.upi || ''}}</td>
                                <td>{{form.cashCollection || ''}}</td>
                                <!-- <td></td>
                                <td></td>
                                <td></td> -->
                                <td>0</td>
                                <td>{{form.netAmountDeposited}}</td>
                              </tr>
                            </table>

                            <!-- Deductions -->
                            <table class="tbl">
                              <tr>
                                <th colspan="6">TOTAL DEDUCTIONS</th>
                              </tr>
                              <tr>
                                <th>Trip Allowance</th>
                                <th>GMC Parking</th>
                                <th>Total Deduction</th>
                                <th>Net Amount Deposited After Deductions</th>
                                <th>Fixed Target</th>
                                <th>Balance</th>
                              </tr>
                              <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>{{form.netAmountDeposited}}</td>
                                <td>{{form.estimated_collection}}</td>
                                <td> {{form.amountToBeDeposited || ''}}</td>
                              </tr>
                            </table>

                            <!-- Remarks -->
                            <table class="tbl">
                              <tr>
                                <th>REMARKS</th>
                              </tr>
                              <tr>
                                <td style="height: 42px"></td>
                              </tr>
                            </table>

                            <br />
                            <br /><br />
                            <br />
                            <!-- Signatures -->
                            <table class="tbl no-border">
                              <tr>
                                <td class="center" style="width: 33%" style="font-size: 11px">
                                  SIGNATURE OF THE CASHIER<br />
                                  PM e-bus sewa<br />
                                  Rupnagar, Guwahati-32
                                </td>
                                <td class="center" style="width: 33%" style="font-size: 11px">
                                  SIGNATURE OF THE AUDITOR<br />
                                  PM e-bus sewa<br />
                                  Rupnagar, Guwahati-32
                                </td>
                                <td class="center" style="width: 33%" style="font-size: 11px">
                                  SIGNATURE OF THE OPERATION MANAGER<br />
                                  PM e-bus sewa<br />
                                  Rupnagar, Guwahati-32
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <!-- <div class="pdf-header py-3">
                          <div class="sign-left">
                            Outsider Skaplink technologies Pvt Ltd
                          </div>

                          <div class="sign-right">
                            Cashier Skaplink technologies Pvt Ltd
                          </div>
                        </div>

                        <h5>
                          This is a computer-generated document. No signature is
                          required
                        </h5> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-12 no-print">
          <div class="d-flex justify-content-between p-3">
            <div>
              <h3>
                <strong>Vehicle No: {{ busDetails.busNo }}</strong>
              </h3>
            </div>
            <div>
              <h3>
                <strong>Date: {{ selectedDate }}</strong>
              </h3>
            </div>
          </div>

          <div class="card p-3">
            <div class="row">
              <div class="col-md-6 pt-3">
                <label>Bus Name</label>
                <input type="text" class="form-control" [(ngModel)]="busDetails.busName" name="busName" readonly />
              </div>

              <div class="col-md-6 pt-3">
                <label>Route No. </label>
                <input type="text" class="form-control" [(ngModel)]="form.routeNo" readonly />
              </div>

              <div class="col-md-4 pt-3">
                <label>Conductor Name</label>
                <input type="text" class="form-control" [(ngModel)]="busDetails.conductorName" name="conductorName"
                  readonly />
              </div>

              <div class="col-md-4 pt-3">
                <label>Timesheet No. </label>
                <input type="text" class="form-control" [(ngModel)]="form.timesheetNo" name="timesheetNo" readonly />
              </div>

              <div class="col-md-4 pt-3">
                <label>Start time. </label>
                <input type="time" class="form-control" [(ngModel)]="form.startTime" name="startTime"
                  [readonly]="formtype === 'update'" />
              </div>

              <div class="col-md-4 pt-3">
                <label>OMR Opening Km</label>
                <input type="number" class="form-control" [(ngModel)]="form.omr" (change)="calculateTotalOperated()"
                  name="omr" [readonly]="formtype === 'update'" />
              </div>
              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>CMR Closing Km</label>
                <input type="number" class="form-control" [(ngModel)]="form.cmr" (change)="calculateTotalOperated()"
                  name="cmr" />
              </div>
              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Total Km Operated </label>
                <input type="number" class="form-control" [(ngModel)]="form.totalOperated" name="totalOperated"
                  readonly />
              </div>

              <div class="col-md-4 pt-3">
                <label>Opening SOC %</label>
                <input type="number" class="form-control" [(ngModel)]="form.osoc" (change)="calculateTotalCosumed()"
                  name="osoc" [readonly]="formtype === 'update'" />
              </div>
              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Closing SOC %</label>
                <input type="number" class="form-control" [(ngModel)]="form.csoc" (change)="calculateTotalCosumed()"
                  name="csoc" />
              </div>
              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Consumed SOC %</label>
                <input type="number" class="form-control" [(ngModel)]="form.consumedSOC" name="consumedSOC" readonly />
              </div>

              <div class="col-md-4 pt-3">
                <label>Targeted Trip Round</label>
                <input type="number" class="form-control" [(ngModel)]="form.targetedTrip" name="targetedTrip" />
              </div>

              <div class="col-md-4 pt-3">
                <label>Chalo WayBill no</label>
                <input type="text" class="form-control" [(ngModel)]="form.chaloWayBillNo" name="chaloWayBillNo" />
              </div>


              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>No Of Trip</label>
                <input type="number" class="form-control" [(ngModel)]="form.noOfTrip" name="noOfTrip" />
              </div>

              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Chalo Passengers Count</label>
                <input type="text" class="form-control" [(ngModel)]="form.chaloPassengersNo" name="chaloPassengersNo" />
              </div>

              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Chalo Ticket Count</label>
                <input type="text" class="form-control" [(ngModel)]="form.chaloTicketNo" name="chaloTicketNo" />
              </div>

              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Chalo Ticket Amount (₹)</label>
                <input type="number" class="form-control" [(ngModel)]="form.chaloTicketAmount"
                  (change)="calculateAmount()" name="chaloTicketAmount" />
              </div>

              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Cash Collection (₹)</label>
                <input type="number" class="form-control" [(ngModel)]="form.cashCollection" (change)="calculateAmount()"
                  name="cashCollection" />
              </div>

              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>UPI (₹)</label>
                <input type="number" class="form-control" [(ngModel)]="form.upi" (change)="calculateAmount()"
                  name="upi" />
              </div>

              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Amount Collected (₹)</label>
                <input type="number" class="form-control" [(ngModel)]="form.netAmountDeposited"
                  name="netAmountDeposited" readonly />
              </div>
              <div class="col-md-4 pt-3">
                <label>Targeted Earning (in Rs.)</label>
                <input type="number" class="form-control" [(ngModel)]="form.tragetedEarning" name="tragetedEarning" />
              </div>
              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Pending Amount (₹)</label>
                <input type="number" class="form-control" [(ngModel)]="form.amountToBeDeposited" readonly />
              </div>
              <div class="col-md-4 pt-3" *ngIf="formtype == 'update'">
                <label>Stop time</label>
                <input type="time" class="form-control" [(ngModel)]="form.stopTime" name="stopTime" />
              </div>
              <div class="col-md-4 pt-3">
                <label>Status</label>
                <select class="form-control" [(ngModel)]="form.currentStatus" name="status">
                  <option value="running">Running</option>
                  <option value="still">Still (Breakdown)</option>
                  <option value="idle">Idle</option>
                  <option value="finished">Finished</option>
                </select>
              </div>


              <div class="col-md-4 pt-3" *ngIf="form.currentStatus == 'still' && formtype == 'update'">
                <label>Place of Breakdown</label>
                <input type="text" class="form-control" [(ngModel)]="form.placeOfBreakdown" name="placeOfBreakdown" />
              </div>


              <div class="col-md-4 pt-3" *ngIf="form.currentStatus == 'still' && formtype == 'update'">
                <label>Cause of Breakdown</label>
                <input type="text" class="form-control" [(ngModel)]="form.causeOfBreakdown" name="causeOfBreakdown" />
              </div>


              <div class="col-md-8 pt-3">
                <label>Remarks</label>
                <input type="text" class="form-control" [(ngModel)]="form.remarks" name="remarks" />
              </div>
              <div class="col-md-12 pt-3">
                <div class="text-center p-3">
                  <button *ngIf="formtype == 'update'" class="btn btn-info mr-2" (click)="openPreview()"
                    data-toggle="modal" data-target="#exampleModal">
                    Print Opening Log Sheet
                  </button>
                  <button type="button" class="btn btn-success text-center" (click)="saveData()" [disabled]="isSaving"
                    *ngIf="formtype !== 'update'">
                    <span *ngIf="!isSaving">Save</span>

                    <span *ngIf="isSaving">
                      <i class="fa fa-spinner fa-spin mr-2"></i> Saving...
                    </span>
                  </button>

                  <button type="button" class="btn btn-success text-center" (click)="updateData()" data-dismiss="modal"
                    *ngIf="formtype == 'update'">
                    Update and Complete Trip
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>