.running-bg{
    background-color: rgb(96 204 89);
    color: rgb(15 14 14);
}
.still-bg{
    background-color: rgb(221, 94, 94);
    color: rgb(248, 248, 248);
}
.idle-bg{
    background-color: rgb(221, 216, 66);
    color: rgb(255, 255, 255);
}
.finished-bg{
    color: rgb(249 247 247);
    background-color: #747474;
}
