/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/ngx-toastr/toastr.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/solid.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('../node_modules/ngx-spinner/animations/ball-clip-rotate.css');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 4px;
    padding-left: 1px;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #20c997;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-icon-button.mat-primary {
    --mdc-icon-button-icon-color: #20c997;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-raised-button.mat-purple {
    --mdc-protected-button-container-color: #605ca8;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-icon-button.mat-purple {
    --mdc-icon-button-icon-color: #605ca8;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-raised-button.mat-danger {
    --mdc-protected-button-container-color: #ec6132;
    --mdc-protected-button-label-text-color: #fff;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.45); /* dim background */

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999; /* above everything */
}
