<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Earning Records
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="#">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content card">
        <div class="container-fluid mt-4">

            <div class="float-right">

                <div
                class="d-flex align-items-center justify-content-end w-100 p-2"
              >
                <!-- PDF -->
                <!-- <button
                  class="btn btn-primary"
                  (click)="downloadPDF()"
                  [disabled]="isExportingPDF"
                >
                  <ng-container *ngIf="!isExportingPDF; else pdfLoading">
                    <i class="fas fa-download"
                    style="color:aliceblue"></i> Download PDF
                  </ng-container>

                  <ng-template #pdfLoading>
                    <span
                      class="spinner-border spinner-border-sm me-2"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Generating PDF...
                  </ng-template>
                </button> &nbsp;&nbsp; -->

                <!-- Excel -->
                <button
                  class="btn btn-success"
                  (click)="downloadExcel()"
                  [disabled]="isExportingExcel"
                >
                  <ng-container
                    *ngIf="!isExportingExcel; else excelLoading"
                  >
                  <i class="fas fa-download"
                  style="color:aliceblue"></i> Download Excel
                  </ng-container>

                  <ng-template #excelLoading>
                    <span
                      class="spinner-border spinner-border-sm me-2"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Generating Excel...
                  </ng-template>
                </button>
              </div>


                <!-- <button class="btn btn-secondary mb-3" (click)="downloadCSV()"><i class="fas fa-download"
                        style="color:aliceblue"></i> Download CSV</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary mb-3" (click)="downloadCSV()"><i class="fas fa-download"
                        style="color:aliceblue"></i> Download PDF</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary mb-3" (click)="redirectTo()"> <i class="fas fa-plus"
                        style="color:aliceblue"></i> Add Data</button> -->
                <!-- <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#formModal">Add Data</button> -->
            </div>

            <div class="d-flex">
                <input type="date" class="form-control col-2" [(ngModel)]="dateFrom" name="dateFrom" id=""> <span
                    class="px-2 d-flex align-items-center">to</span>
                <input type="date" class="form-control col-2" [(ngModel)]="dateTo" name="dateTo" id="">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-info" (click)="search()"> <i class="fas fa-search" style="color:aliceblue"></i>
                    Search</button>
            </div>

            <div>

            </div>
            <div class="table-responsive" #reportSection
            id="reportSection">
                <table class="table table-bordered table-striped table-hover table-sm text-nowrap" id="dataTable">

                    <thead class="thead-dark">
                        <tr class="text-center align-middle">
                            <th>#</th>
                            <th>Date</th>
                            <th>Driver ID</th>
                            <th>Conductor ID</th>
                            <th>Timesheet No</th>
                            <th>Route</th>
                            <th>Start</th>
                            <th>OMR</th>
                            <th>CMR</th>
                            <th>Total Km</th>
                            <th>Trips</th>
                            <th>Chalo Pax</th>
                            <th>Chalo Tkt</th>
                            <th>Chalo Amt (₹)</th>
                            <th>Cash (₹)</th>
                            <th>UPI (₹)</th>
                            <th>Additional Amount (₹)</th>
                            <th>Net Deposit (₹)</th>
                            <th>Target (₹)</th>
                            <th>To Deposit (₹)</th>
                            <th>End</th>
                            <th>Status</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of dataList; let i = index" class="align-middle">

                            <td class="text-center">{{ i + 1 }}</td>
                            <td class="text-center">{{ data.date }}</td>

                            <td>{{ data.driverName }}</td>
                            <td>{{ data.conductorName }}</td>

                            <td class="text-center font-weight-bold">{{ data.timesheetNo }}</td>

                            <td>{{ data.routeNo }} - {{ data.routeName }}</td>

                            <td class="text-center">{{ data.startTime }}</td>

                            <td class="text-right">{{ data.omr }}</td>
                            <td class="text-right">{{ data.cmr }}</td>
                            <td class="text-right font-weight-bold">{{ data.totalOperated }}</td>

                            <td class="text-center">{{ data.noOfTrip }}</td>
                            <td class="text-center">{{ data.chaloPassengersNo }}</td>
                            <td class="text-center">{{ data.chaloTicketNo }}</td>

                            <td class="text-right">{{ data.chaloTicketAmount }}</td>
                            <td class="text-right">{{ data.cashCollection }}</td>
                            <td class="text-right">{{ data.upi }}</td>
                            <td class="text-right">{{ data.additionalAmount }}</td>

                            <td class="text-right font-weight-bold text-success">{{ data.netAmountDeposited }}</td>
                            <td class="text-right">{{ data.tragetedEarning }}</td>
                            <td class="text-right text-danger">{{ data.amountToBeDeposited }}</td>

                            <td class="text-center">{{ data.stopTime }}</td>

                            <td class="text-center">
                                <span class="badge" [ngClass]="{
                                    'badge-success': data.currentStatus === 'approved',
                                    'badge-warning': data.currentStatus === 'pending',
                                    'badge-danger': data.currentStatus === 'rejected'
                                }">
                                    {{ data.currentStatus | titlecase }}
                                </span>
                            </td>

                            <td class="text-truncate" style="max-width:150px" title="{{data.remarks}}">
                                {{ data.remarks }}
                            </td>

                            <td class="text-center">
                                <button class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                    data-target="#deleteModal" (click)="openDeleteConfirmationDialog(data)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>



            <div class="modal fade" id="deleteModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Confirmation Message</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>
                                Are you sure ! You want to delete earning details?
                                ?
                            </h4>
                            <button type="button" class="btn btn-primary float-sm-right"
                                (click)="handleDeleteEarningDetails()" data-dismiss="modal">
                                Yes
                            </button>
                            <button type="button" class="btn btn-default float-sm-right" data-dismiss="modal">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>