<div *ngIf="isLoading" class="d-flex flex-column align-items-center justify-content-center my-5 fade-in">
    <div class="spinner-grow text-success" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>

    <p class="mt-3 text-muted fw-semibold small text-uppercase tracking-wider">
        Fetching Bus Data...
    </p>
</div>

<div class="content-wrapper p-1">
    <!-- Content Header (Page header) -->
    <div class="content-header w-100">
        <div class="d-flex row mb-1 px-0 align-items-center w-100 justify-content-between">
            <div class="d-flex col-md-3 justify-content-start">
                <h3 class="m-0">EARNING RECORDS</h3>
            </div><!-- /.col -->

            <div class="d-flex col-md-6 justify-content-center">
                <input type="date" class="form-control col-2" [(ngModel)]="dateFrom" name="dateFrom" id="">
                <span class="px-2 d-flex align-items-center">to</span>
                <input type="date" class="form-control col-2" [(ngModel)]="dateTo" name="dateTo" id="">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-info" (click)="search()"> <i class="fas fa-search" style="color:aliceblue"></i>
                    Search
                </button>
            </div>

            <div class="d-flex col-md-3 justify-content-end">
                <button class="btn btn-success" (click)="downloadExcel()" [disabled]="isExportingExcel">
                    <ng-container *ngIf="!isExportingExcel; else excelLoading">
                        <i class="fas fa-download" style="color:aliceblue"></i> Download Excel
                    </ng-container>

                    <ng-template #excelLoading>
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        Generating Excel...
                    </ng-template>
                </button>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content card">
        <div class="container-fluid mt-4">

            <!-- <button class="btn btn-secondary mb-3" (click)="downloadCSV()"><i class="fas fa-download"
                        style="color:aliceblue"></i> Download CSV</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary mb-3" (click)="downloadCSV()"><i class="fas fa-download"
                        style="color:aliceblue"></i> Download PDF</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary mb-3" (click)="redirectTo()"> <i class="fas fa-plus"
                        style="color:aliceblue"></i> Add Data</button> -->
            <!-- <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#formModal">Add Data</button> -->

            <div class="" #reportSection id="reportSection">
                <table class="table table-hover text-nowrap table-responsive align-middle" id="dataTable">

                    <thead class="professional-thead bg-dark text-white">
                        <tr class="text-center align-middle">
                            <th>#</th>
                            <th>DATE</th>
                            <th>VEHICLE NO</th>
                            <th>DRIVER ID</th>
                            <th>CONDUCTOR ID</th>
                            <th>TIMESHEET NO</th>
                            <th>ROUTE</th>
                            <th>START TIME</th>
                            <th>OMR</th>
                            <th>CMR</th>
                            <th>TOTAL KMS</th>
                            <th>TRIPS</th>
                            <th>CHALO PAX</th>
                            <th>CHALO TKT</th>
                            <th>CHALO AMT (₹)</th>
                            <th>CASH (₹)</th>
                            <th>UPI (₹)</th>
                            <th>ADDITIONAL AMOUNT (₹)</th>
                            <th>NET DEPOSIT (₹)</th>
                            <th>TARGET (₹)</th>
                            <th>PENDING AMOUNT (₹)</th>
                            <th>END</th>
                            <th>STATUS</th>
                            <th>REMARKS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let value of dataList; let i = index" class="align-middle">

                            <td class="text-center align-middle">{{ i + 1 }}</td>
                            <td class="text-center align-middle">{{ value?.date }}</td>

                            <td class="text-center align-middle">{{ value?.bus?.busNo }}</td>
                            <td class="text-center align-middle">{{ value?.driver?.driver_id }}</td>
                            <td class="text-center align-middle">{{ value?.conductor?.conductor_id }}</td>

                            <td class="text-center font-weight-bold align-middle">{{ value.timesheetNo }}</td>

                            <td class="text-center align-middle">{{ value.routeNo }} - {{ value.routeName }}</td>

                            <td class="text-center align-middle">{{ value.startTime }}</td>

                            <td class="text-right align-middle">{{ value.omr }}</td>
                            <td class="text-right align-middle">{{ value.cmr }}</td>
                            <td class="text-right font-weight-bold align-middle">{{ value.totalOperated }}</td>

                            <td class="text-center align-middle">{{ value.noOfTrip }}</td>
                            <td class="text-center align-middle">{{ value.chaloPassengersNo }}</td>
                            <td class="text-center align-middle">{{ value.chaloTicketNo }}</td>

                            <td class="text-right align-middle">{{ value.chaloTicketAmount }}</td>
                            <td class="text-right align-middle">{{ value.cashCollection }}</td>
                            <td class="text-right align-middle">{{ value.upi }}</td>
                            <td class="text-right align-middle">{{ value.additionalAmount }}</td>

                            <td class="text-right font-weight-bold text-success align-middle">{{
                                value.netAmountDeposited }}</td>
                            <td class="text-right align-middle">{{ value.tragetedEarning }}</td>
                            <td class="text-right text-danger align-middle">{{ value.amountToBeDeposited }}</td>

                            <td class="text-center align-middle">{{ value.stopTime }}</td>

                            <td class="text-center align-middle">
                                <span class="badge" [ngClass]="{
                                    'badge-success': value.currentStatus === 'approved',
                                    'badge-warning': value.currentStatus === 'pending',
                                    'badge-danger': value.currentStatus === 'rejected'
                                }">
                                    {{ value.status | titlecase }}
                                </span>
                            </td>

                            <td class="text-truncate align-middle" style="max-width:150px" title="{{value.remarks}}">
                                {{ value.remarks }}
                            </td>

                            <td class="text-center align-middle">
                                <button class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                    data-target="#deleteModal" (click)="openDeleteConfirmationDialog(value)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>

            <div class="modal fade" id="deleteModal" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Confirmation Message</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>
                                Are you sure ! You want to delete earning details?
                                ?
                            </h4>
                            <button type="button" class="btn btn-primary float-sm-right"
                                (click)="handleDeleteEarningDetails()" data-dismiss="modal">
                                Yes
                            </button>
                            <button type="button" class="btn btn-default float-sm-right" data-dismiss="modal">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>