<!-- Loading starts -->
<!-- <div id="loading-wrapper" *ngIf="isLodaing">
  <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
</div> -->

<!-- Loading ends -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Driver & Conductor</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
              <button
                *ngIf="activeTabName == 'Driver'"
                class="btn btn-default btn-sm"
                data-toggle="modal"
                data-target="#formModal"
                (click)="openNewDriverDialog()"
              >
                <i class="fas fa-plus"></i> New Driver
              </button>
              <button
                *ngIf="activeTabName == 'Conductor'"
                class="btn btn-default btn-sm"
                data-toggle="modal"
                data-target="#conductorModal"
                (click)="openNewConductorDialog()"
              >
                <i class="fas fa-plus"></i> New Conductor
              </button>
            </li>
          </ol>
        </div>
        <!-- /.col -->
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><button
                class="btn btn-default"
                data-toggle="modal"
                data-target="#formModal"
              >
              <i class="fas fa-plus"></i> New Driver
              </button></li>
            </ol>
          </div> -->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content card p-2">
    <div class="container-fluid">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li
          class="nav-item"
          role="presentation"
          (click)="setAddNewButton('Driver')"
        >
          <a
            class="nav-link active"
            id="driver-tab"
            data-toggle="tab"
            href="#driver"
            role="tab"
            aria-controls="driver"
            aria-selected="true"
            ><b>Driver</b></a
          >
        </li>
        <li
          class="nav-item"
          role="presentation"
          (click)="setAddNewButton('Conductor')"
        >
          <a
            class="nav-link"
            id="conductor-tab"
            data-toggle="tab"
            href="#conductor"
            role="tab"
            aria-controls="conductor"
            aria-selected="false"
            ><b>Conductor</b></a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="driver"
          role="tabpanel"
          aria-labelledby="driver-tab"
        >
          <!-- <div class="row">
            <div class="col-sm-12">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active">
                  <button
                    class="btn btn-default btn-sm"
                    data-toggle="modal"
                    data-target="#formModal"
                  >
                    <i class="fas fa-plus"></i> New Driver
                  </button>
                </li>
              </ol>
            </div>
          </div> -->

          <div class="row">
            <div class="col-lg-12 col-12">
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Driver Name</th>
                      <th>Driver Contact No</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of driverList; let i = index">
                      <td>{{ data.driver_name }}</td>
                      <td>{{ data.contact_no }}</td>
                      <td>
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#viewModal"
                          (click)="viewDriverData(i)"
                        >
                          <i class="fa fa-eye"></i>
                        </button>
                        <!-- (click)="openEditDialog(data)" -->
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#formModal"
                          (click)="openEditDriverDialog(data)"
                        >
                          <i class="fas fa-edit"></i>
                        </button>
                        <!-- (click)="openConfirmationDialog(data)" -->
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#deleteDriverModal"
                          (click)="openConfirmationDialog(data)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- Form Modal -->
                <div class="modal fade" id="formModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Driver Details</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-12">
                                <label>Driver Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.driver_name"
                                  name="driver_name"
                                />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12 pt-3">
                                <label>Driver Contact No</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form1.contact_no"
                                  name="contact_no"
                                />
                              </div>
                            </div>
                          </div>

                          <button
                            *ngIf="!isEdit"
                            style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="saveData()"
                            data-dismiss="modal"
                          >
                            Save
                          </button>
                          <button
                            *ngIf="isEdit"
                            style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="updateData()"
                            data-dismiss="modal"
                          >
                            Update
                          </button>
                          <button
                            style="float: right; margin-right: 5px"
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                          >
                            Cancel
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- View Modal -->
                <div class="modal fade" id="viewModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">View Details</h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body" *ngIf="selectedData">
                        <p>
                          <strong>Driver Name:</strong>
                          {{ selectedData.driver_name }}
                        </p>
                        <p>
                          <strong>Driver Contact No:</strong>
                          {{ selectedData.contact_no }}
                        </p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteDriverModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to delete driver
                          <strong
                            ><i
                              >"{{ toBeDeletedDriverRecord.driver_name }}-{{
                                toBeDeletedDriverRecord.contact_no
                              }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleDeleteDriver()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="conductor"
          role="tabpanel"
          aria-labelledby="conductor-tab"
        >
          <!-- <div class="row">
            <div class="col-sm-12">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active">
                  <button
                    class="btn btn-default btn-sm"
                    data-toggle="modal"
                    data-target="#conductorModal"
                  >
                    <i class="fas fa-plus"></i> New Conductor
                  </button>
                </li>
              </ol>
            </div>
          </div> -->

          <div class="row">
            <div class="col-lg-12 col-12">
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Conductor Name</th>
                      <th>Conductor Contact No</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of conductorList; let i = index">
                      <td>{{ data.conductor_name }}</td>
                      <td>{{ data.contact_no }}</td>
                      <td>
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#viewConductorModal"
                          (click)="viewConductorData(i)"
                        >
                          <i class="fas fa-eye"></i>
                        </button>
                        <!-- (click)="openEditDialog(data)" -->
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#conductorModal"
                          (click)="openEditConductorDialog(data)"
                        >
                          <i class="fas fa-edit"></i>
                        </button>
                        <!-- (click)="openConfirmationDialog(data)" -->
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#deleteConductorModal"
                          (click)="openDeleteConfirmationDialog(data)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- conductor Modal -->
                <div class="modal fade" id="conductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Conductor Details</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-12">
                                <label>Conductor Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.conductor_name"
                                  name="conductor_name"
                                />
                              </div>

                              <div class="col-md-12 pt-3">
                                <label>Conductor Contact No</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form2.contact_no"
                                  name="contact_no"
                                />
                              </div>
                            </div>
                          </div>

                          <button
                          *ngIf="!isConductorEdit"
                          style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="saveDataConductor()"
                            data-dismiss="modal"
                          >
                            Save
                          </button>
                          <button
                          *ngIf="isConductorEdit"
                          style="float: right"
                          type="button"
                          class="btn btn-info"
                          (click)="updateDataConductor()"
                          data-dismiss="modal"
                        >
                          Update
                        </button>
                        <button
                          style="float: right; margin-right: 5px"
                          type="button"
                          class="btn btn-default"
                          data-dismiss="modal"
                        >
                          Cancel
                        </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- View Modal -->
                <div class="modal fade" id="viewConductorModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">View Details</h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body" *ngIf="selectedDataConductor">
                        <p>
                          <strong>Conductor Name:</strong>
                          {{ selectedDataConductor.conductor_name }}
                        </p>
                        <p>
                          <strong>Conductor Contact No:</strong>
                          {{ selectedDataConductor.contact_no }}
                        </p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteConductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to delete conductor
                          <strong
                            ><i
                              >"{{
                                toBeDeletedConductorRecord.conductor_name
                              }}-{{ toBeDeletedConductorRecord.contact_no }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleDeleteConductor()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
