<!-- Loading starts -->
<!-- <div id="loading-wrapper" *ngIf="isLodaing">
  <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
</div> -->

<!-- Loading ends -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Driver & Conductor</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
              <button
                *ngIf="activeTabName == 'Driver'"
                class="btn btn-default btn-sm"
                data-toggle="modal"
                data-target="#formModal"
                (click)="openNewDriverDialog()"
              >
                <i class="fas fa-plus"></i> New Driver
              </button>
              <button
                *ngIf="activeTabName == 'Conductor'"
                class="btn btn-default btn-sm"
                data-toggle="modal"
                data-target="#conductorModal"
                (click)="openNewConductorDialog()"
              >
                <i class="fas fa-plus"></i> New Conductor
              </button>
            </li>
          </ol>
        </div>
        <!-- /.col -->
        <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><button
                class="btn btn-default"
                data-toggle="modal"
                data-target="#formModal"
              >
              <i class="fas fa-plus"></i> New Driver
              </button></li>
            </ol>
          </div> -->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content card p-2">
    <div class="container-fluid">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li
          class="nav-item"
          role="presentation"
          (click)="setAddNewButton('Driver')"
        >
          <a
            class="nav-link active"
            id="driver-tab"
            data-toggle="tab"
            href="#driver"
            role="tab"
            aria-controls="driver"
            aria-selected="true"
            ><b>Driver</b></a
          >
        </li>
        <li
          class="nav-item"
          role="presentation"
          (click)="setAddNewButton('Conductor')"
        >
          <a
            class="nav-link"
            id="conductor-tab"
            data-toggle="tab"
            href="#conductor"
            role="tab"
            aria-controls="conductor"
            aria-selected="false"
            ><b>Conductor</b></a
          >
        </li>

        <li
          class="nav-item"
          role="presentation"
          (click)="setAddNewButton('ConductorAttendance')"
        >
          <a
            class="nav-link"
            id="conductorAttendance-tab"
            data-toggle="tab"
            href="#conductorAttendance"
            role="tab"
            aria-controls="conductorAttendance"
            aria-selected="false"
            ><b>Conductor Attendance</b></a
          >
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="driver"
          role="tabpanel"
          aria-labelledby="driver-tab"
        >
          <!-- <div class="row">
            <div class="col-sm-12">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active">
                  <button
                    class="btn btn-default btn-sm"
                    data-toggle="modal"
                    data-target="#formModal"
                  >
                    <i class="fas fa-plus"></i> New Driver
                  </button>
                </li>
              </ol>
            </div>
          </div> -->

          <div class="row">
            <div class="col-lg-12 col-12">
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Driver ID</th>
                      <th>Driver Name</th>
                      <th>Driver Contact No</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of driverList; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ data.driver_id }}</td>
                      <td>{{ data.driver_name }}</td>
                      <td>{{ data.contact_no }}</td>
                      <td>
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#viewModal"
                          (click)="viewDriverData(i)"
                        >
                          <i class="fa fa-eye"></i>
                        </button>
                        <!-- (click)="openEditDialog(data)" -->
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#formModal"
                          (click)="openEditDriverDialog(data)"
                        >
                          <i class="fas fa-edit"></i>
                        </button>
                        <!-- (click)="openConfirmationDialog(data)" -->
                        <button
                          class="btn btn-default"
                          data-toggle="modal"
                          data-target="#deleteDriverModal"
                          (click)="openConfirmationDialog(data)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- Form Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  data-bs-backdrop="static"
                  data-backdrop="static"
                  id="formModal"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Driver Details</h2>
                        <button
                          type="button"
                          class="close"
                          (click)="closeForm()"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <form #driverForm="ngForm" novalidate>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <label>Driver ID *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.driver_id"
                                  name="driver_id"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Driver Name *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.driver_name"
                                  name="driver_name"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Driver Contact No *</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form1.contact_no"
                                  name="contact_no"
                                  required
                                />
                              </div>
                            </div>

                            <div class="row pt-3">
                              <div class="col-md-6">
                                <label>AADHAAR *</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form1.aadhaar"
                                  name="aadhaar"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>PAN No *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.pan"
                                  name="pan"
                                  required
                                />
                              </div>
                            </div>

                            <div class="row pt-3">
                              <div class="col-md-6">
                                <label>Voter ID *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.voter"
                                  name="voter"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Driving License *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.dl"
                                  name="dl"
                                  required
                                />
                              </div>
                            </div>

                            <div class="row pt-3">
                              <div class="col-md-6">
                                <label>Address *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form1.address"
                                  name="address"
                                  required
                                />
                              </div>
                            </div>

                            <div class="row pt-3">
                              <div class="col-md-12">
                                <label>Driver Photo *</label>
                                <input
                                  type="file"
                                  class="form-control"
                                  accept="image/*"
                                  (change)="onPhotoChange($event)"
                                />
                              </div>

                              <div class="col-md-12" *ngIf="imagePreview">
                                <label>Preview</label><br />
                                <img
                                  [src]="imagePreview"
                                  style="
                                    width: 120px;
                                    height: 120px;
                                    object-fit: cover;
                                    border: 1px solid #ccc;
                                    padding: 4px;
                                  "
                                />
                              </div>
                            </div>
                          </div>

                          <button
                            *ngIf="!isEdit"
                            type="button"
                            class="btn btn-info float-right"
                            [disabled]="driverForm.invalid"
                            (click)="saveData(driverForm)"
                            data-dismiss="modal"
                          >
                            Save
                          </button>

                          <button
                            *ngIf="isEdit"
                            type="button"
                            class="btn btn-info float-right"
                            (click)="updateData()"
                            data-dismiss="modal"
                          >
                            Update
                          </button>

                          <button
                            type="button"
                            (click)="closeForm()"
                            class="btn btn-default float-right mr-2"
                            data-dismiss="modal"
                          >
                            Cancel
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- View Modal -->
                <div class="modal fade" id="viewModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">View Details</h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body" *ngIf="selectedData">
                        <div class="container-fluid">
                          <div class="row">
                            <!-- LEFT: DETAILS -->
                            <div class="col-md-8">
                              <table
                                class="table table-borderless table-sm mb-0"
                              >
                                <tbody>
                                  <tr>
                                    <th class="text-muted w-50">Driver ID</th>
                                    <td>{{ selectedData.driver_id }}</td>
                                  </tr>

                                  <tr>
                                    <th class="text-muted">Contact No</th>
                                    <td>{{ selectedData.contact_no }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">AADHAAR</th>
                                    <td>{{ selectedData.aadhaar }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">PAN No</th>
                                    <td>{{ selectedData.pan }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">Voter ID</th>
                                    <td>{{ selectedData.voter }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">Driving License</th>
                                    <td>{{ selectedData.dl }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">Address</th>
                                    <td>{{ selectedData.address }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <!-- RIGHT: PHOTO -->
                            <div class="col-md-4 text-center">
                              <label class="text-muted d-block mb-2"
                                >Driver Photo</label
                              >

                              <img
                                [src]="endpoint + '/docs/' + selectedData.photo"
                                class="img-thumbnail shadow-sm"
                                style="
                                  width: 150px;
                                  height: 180px;
                                  object-fit: cover;
                                "
                                alt="Driver Photo"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteDriverModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to delete driver
                          <strong
                            ><i
                              >"{{ toBeDeletedDriverRecord.driver_name }}-{{
                                toBeDeletedDriverRecord.contact_no
                              }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleDeleteDriver()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="conductor"
          role="tabpanel"
          aria-labelledby="conductor-tab"
        >
          <!-- <div class="row">
            <div class="col-sm-12">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active">
                  <button
                    class="btn btn-default btn-sm"
                    data-toggle="modal"
                    data-target="#conductorModal"
                  >
                    <i class="fas fa-plus"></i> New Conductor
                  </button>
                </li>
              </ol>
            </div>
          </div> -->

          <!-- <div class="d-flex p-2">
            <button (click)="downloadPDF()" *ngIf="isExportingPDF">Download PDF</button>
            <button (click)="downloadExcel()" *ngIf="isExportingExcel">Download Excel</button>
          </div> -->

          <div class="d-flex align-items-center justify-content-end w-100 p-2">
            <!-- PDF -->
            <button
              class="btn btn-primary"
              (click)="downloadPDF()"
              [disabled]="isExportingPDF"
            >
              <ng-container *ngIf="!isExportingPDF; else pdfLoading">
                Download PDF
              </ng-container>
          
              <ng-template #pdfLoading>
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                Generating PDF...
              </ng-template>
            </button>
          
            <!-- Excel -->
            <button
              class="btn btn-success"
              (click)="downloadExcel()"
              [disabled]="isExportingExcel"
            >
              <ng-container *ngIf="!isExportingExcel; else excelLoading">
                Download Excel
              </ng-container>
          
              <ng-template #excelLoading>
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                Generating Excel...
              </ng-template>
            </button>
          </div>
          

          <div class="row">
            <div class="col-lg-12 col-12">
              <div>
                <div #reportSection id="reportSection">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Conductor ID</th>
                        <th>Conductor Name</th>
                        <th>Conductor Contact No</th>
                        <th>Pending Amount</th>
                        <th>Status</th>
                        <th class="no-export">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let data of conductorList; let i = index"
                        [ngClass]="{
                          'bg-danger': data.status === 'Block'
                        }"
                      >
                        <td>{{ i + 1 }}</td>
                        <td>{{ data.conductor_id }}</td>
                        <td>{{ data.conductor_name }}</td>
                        <td>{{ data.contact_no }}</td>
                        <td>
                          {{
                            data.amountToBeDeposited > 0
                              ? data.amountToBeDeposited
                              : 0
                          }}
                        </td>
                        <td>{{ data.status }}</td>
                        <td class="no-export">
                          <button
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#viewConductorModal"
                            (click)="viewConductorData(i)"
                          >
                            <i class="fas fa-eye"></i>
                          </button>
                          <!-- (click)="openEditDialog(data)" -->
                          <button
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#conductorModal"
                            (click)="openEditConductorDialog(data)"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <!-- (click)="openConfirmationDialog(data)" -->
                          <button
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#deleteConductorModal"
                            (click)="openDeleteConfirmationDialog(data)"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                          <button
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#blockConductorModal"
                            (click)="openDeleteConfirmationDialog(data)"
                          >
                            <i class="fas fa-ban"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- conductor Modal -->
                <div class="modal fade" id="conductorModal" tabindex="-1">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Conductor Details</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <form #conductorForm="ngForm" novalidate>
                          <div class="form-group">
                            <div class="row">

                              <div class="col-md-6">
                                <label>Conductor ID</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.conductor_id"
                                  name="conductor_id"
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Conductor Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.conductor_name"
                                  name="conductor_name"
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Conductor Contact No *</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form2.contact_no"
                                  name="contact_no"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>AADHAAR *</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form2.aadhaar"
                                  name="aadhaar"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>PAN No *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.pan"
                                  name="pan"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Voter ID *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.voter"
                                  name="voter"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>License *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.pan"
                                  name="pan"
                                  required
                                />
                              </div>

                              <div class="col-md-6">
                                <label>Address *</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.address"
                                  name="address"
                                  required
                                />
                              </div>

                            </div>

                            <div class="row pt-3">
                              <div class="col-md-12">
                                <label>Conductor Photo *</label>
                                <input
                                  type="file"
                                  class="form-control"
                                  accept="image/*"
                                  (change)="onPhotoChange($event)"
                                />
                              </div>

                              <div class="col-md-12" *ngIf="imagePreview">
                                <label>Preview</label><br />
                                <img
                                  [src]="imagePreview"
                                  style="
                                    width: 120px;
                                    height: 120px;
                                    object-fit: cover;
                                    border: 1px solid #ccc;
                                    padding: 4px;
                                  "
                                />
                              </div>
                            </div>
                          </div>

                          <button
                            *ngIf="!isConductorEdit"
                            style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="saveDataConductor(conductorForm)"
                            data-dismiss="modal"
                          >
                            Save
                          </button>
                          <button
                            *ngIf="isConductorEdit"
                            style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="updateDataConductor()"
                            data-dismiss="modal"
                          >
                            Update
                          </button>
                          <button
                            style="float: right; margin-right: 5px"
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                          >
                            Cancel
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- View Modal -->
                <div class="modal fade" id="viewConductorModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">View Details</h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body" *ngIf="selectedDataConductor">
                        <div class="container-fluid">
                          <div class="row">
                            <!-- LEFT: DETAILS -->
                            <div class="col-md-8">
                              <table
                                class="table table-borderless table-sm mb-0"
                              >
                                <tbody>
                                  <tr>
                                    <th class="text-muted w-50">
                                      Conductor ID
                                    </th>
                                    <td>
                                      {{ selectedDataConductor.conductor_id }}
                                    </td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted w-50">
                                      Conductor Name
                                    </th>
                                    <td>
                                      {{ selectedDataConductor.conductor_name }}
                                    </td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">Contact No</th>
                                    <td>
                                      {{ selectedDataConductor.contact_no }}
                                    </td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">AADHAAR</th>
                                    <td>{{ selectedDataConductor.aadhaar }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">PAN No</th>
                                    <td>{{ selectedDataConductor.pan }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">Voter ID</th>
                                    <td>{{ selectedDataConductor.voter }}</td>
                                  </tr>
                                  <tr>
                                    <th class="text-muted">Address</th>
                                    <td>{{ selectedDataConductor.address }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <!-- RIGHT: PHOTO -->
                            <div class="col-md-4 text-center">
                              <label class="text-muted d-block mb-2"
                                >Conductor Photo</label
                              >

                              <img
                                [src]="
                                  endpoint +
                                  '/docs/' +
                                  selectedDataConductor.photo
                                "
                                class="img-thumbnail shadow-sm"
                                style="
                                  width: 150px;
                                  height: 180px;
                                  object-fit: cover;
                                "
                                alt="Conductor Photo"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteConductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to delete conductor
                          <strong
                            ><i
                              >"{{
                                toBeDeletedConductorRecord.conductor_name
                              }}-{{ toBeDeletedConductorRecord.contact_no }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleDeleteConductor()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="blockConductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to
                          {{
                            toBeDeletedConductorRecord.status == "Block"
                              ? "unblock"
                              : "block"
                          }}
                          conductor
                          <strong
                            ><i
                              >"{{
                                toBeDeletedConductorRecord.conductor_name
                              }}-{{ toBeDeletedConductorRecord.contact_no }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleBlockConductor()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="conductorAttendance"
          role="tabpanel"
          aria-labelledby="conductorAttendance-tab"
        >
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="d-flex gap-2 p-2 justify-content-end">
                <input
                  class="form-control col-md-3"
                  type="month"
                  name="attendanceMonth"
                  [(ngModel)]="attendanceMonth"
                  id=""
                />

                <button
                  class="btn btn-primary"
                  (click)="getConductorAttendance()"
                >
                  Get Attendance
                </button>
                &nbsp;
                <button class="btn btn-success">Download Report</button>
              </div>
              <div>
                <div class="table-responsive attendance-table">
                  <table class="table table-bordered table-sm text-center">
                    <thead>
                      <tr>
                        <th class="sticky-col">Conductor Name</th>
                        <th *ngFor="let day of daysInMonth">
                          {{ day | date : "dd" }}
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let data of conductorAttendance">
                        <td class="sticky-col fw-semibold text-start">
                          {{ data.conductor }}
                        </td>

                        <td
                          *ngFor="let day of daysInMonth"
                          [ngClass]="{
                            present: data.attendance[day] === 'P',
                            absent: data.attendance[day] === 'A'
                          }"
                        >
                          {{ data.attendance[day] || "A" }}
                        </td>
                      </tr>
                    </tbody>

                    <div
                      class="text-center"
                      *ngIf="!conductorAttendance.length"
                    >
                      <div class="text-center p-3">
                        <h2>Select a month to get data</h2>
                      </div>
                    </div>
                  </table>
                </div>

                <!-- conductor Modal -->
                <div class="modal fade" id="conductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Conductor Details</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-12">
                                <label>Conductor Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="form2.conductor_name"
                                  name="conductor_name"
                                />
                              </div>

                              <div class="col-md-12 pt-3">
                                <label>Conductor Contact No</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  [(ngModel)]="form2.contact_no"
                                  name="contact_no"
                                />
                              </div>
                            </div>
                          </div>

                          <button
                            *ngIf="!isConductorEdit"
                            style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="saveDataConductor(conductorForm)"
                            data-dismiss="modal"
                          >
                            Save
                          </button>
                          <button
                            *ngIf="isConductorEdit"
                            style="float: right"
                            type="button"
                            class="btn btn-info"
                            (click)="updateDataConductor()"
                            data-dismiss="modal"
                          >
                            Update
                          </button>
                          <button
                            style="float: right; margin-right: 5px"
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                          >
                            Cancel
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- View Modal -->
                <div class="modal fade" id="viewConductorModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">View Details</h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body" *ngIf="selectedDataConductor">
                        <p>
                          <strong>Conductor Name:</strong>
                          {{ selectedDataConductor.conductor_name }}
                        </p>
                        <p>
                          <strong>Conductor Contact No:</strong>
                          {{ selectedDataConductor.contact_no }}
                        </p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteConductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to delete conductor
                          <strong
                            ><i
                              >"{{
                                toBeDeletedConductorRecord.conductor_name
                              }}-{{ toBeDeletedConductorRecord.contact_no }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleDeleteConductor()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="blockConductorModal" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title">Confirmation Message</h2>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>
                          Are you sure ! You want to
                          {{
                            toBeDeletedConductorRecord.status == "Block"
                              ? "unblock"
                              : "block"
                          }}
                          conductor
                          <strong
                            ><i
                              >"{{
                                toBeDeletedConductorRecord.conductor_name
                              }}-{{ toBeDeletedConductorRecord.contact_no }}"</i
                            ></strong
                          >
                          ?
                        </h4>
                        <button
                          type="button"
                          class="btn btn-primary float-sm-right"
                          (click)="handleBlockConductor()"
                          data-dismiss="modal"
                        >
                          Yes
                        </button>
                        <button
                          type="button"
                          class="btn btn-default float-sm-right"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
