<!-- Loading starts -->
<!-- Loading ends -->

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2 align-items-center">
        <div class="col-sm-6">
          <h1 class="m-0 page-title">Driver & Conductor Management</h1>
        </div>

        <div class="col-sm-6 text-right">
          <button *ngIf="activeTabName == 'Driver'" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#formModal" (click)="openNewDriverDialog()">
            <i class="fas fa-plus"></i> Add Driver
          </button>

          <button *ngIf="activeTabName == 'Conductor'" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#conductorModal" (click)="openNewConductorDialog()">
            <i class="fas fa-plus"></i> Add Conductor
          </button>
        </div>
      </div>
    </div>
  </div>

  <section class="content card shadow-sm p-3 rounded-lg">
    <div class="container-fluid">

      <!-- Tabs -->
      <ul class="nav nav-tabs modern-tabs">
        <li class="nav-item" (click)="setAddNewButton('Driver')">
          <a class="nav-link active" data-toggle="tab" href="#driver">Driver</a>
        </li>
        <li class="nav-item" (click)="setAddNewButton('Conductor')">
          <a class="nav-link" data-toggle="tab" href="#conductor">Conductor</a>
        </li>
        <li class="nav-item" (click)="setAddNewButton('ConductorAttendance')">
          <a class="nav-link" data-toggle="tab" href="#conductorAttendance">Conductor Attendance</a>
        </li>
      </ul>

      <div class="tab-content pt-3">

        <!-- ================= DRIVER TAB ================= -->
        <div class="tab-pane fade show active" id="driver">

          <div class="table-responsive">
            <table class="table table-hover table-bordered modern-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th width="150">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of driverList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.driver_id }}</td>
                  <td>{{ data.driver_name }}</td>
                  <td>{{ data.contact_no }}</td>
                  <td>
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#viewModal"
                      (click)="viewDriverData(i)">
                      <i class="fa fa-eye"></i>
                    </button>

                    <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#formModal"
                      (click)="openEditDriverDialog(data)">
                      <i class="fas fa-edit"></i>
                    </button>

                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteDriverModal"
                      (click)="openConfirmationDialog(data)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- ========= DRIVER FORM MODAL ========= -->
          <div class="modal fade" id="formModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content modern-modal">

                <div class="modal-header">
                  <h5 class="modal-title">Driver Details</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                  <form #driverForm="ngForm" novalidate>

                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label>Driver ID *</label>
                        <input type="text" class="form-control" [(ngModel)]="form1.driver_id" name="driver_id" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>Driver Name *</label>
                        <input type="text" class="form-control" [(ngModel)]="form1.driver_name" name="driver_name"
                          required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>Contact No *</label>
                        <input type="number" class="form-control" [(ngModel)]="form1.contact_no" name="contact_no"
                          required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>AADHAAR *</label>
                        <input type="number" class="form-control" [(ngModel)]="form1.aadhaar" name="aadhaar" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>PAN *</label>
                        <input type="text" class="form-control" [(ngModel)]="form1.pan" name="pan" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>Voter ID *</label>
                        <input type="text" class="form-control" [(ngModel)]="form1.voter" name="voter" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>Driving License *</label>
                        <input type="text" class="form-control" [(ngModel)]="form1.dl" name="dl" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>License Expiry Date *</label>
                        <input type="date" class="form-control" [(ngModel)]="form1.licenseExpiry" name="licenseExpiry">
                      </div>

                      <div class="form-group col-md-12">
                        <label>Address *</label>
                        <input type="text" class="form-control" [(ngModel)]="form1.address" name="address" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>Driver Photo *</label>
                        <input type="file" class="form-control" accept="image/*" (change)="onPhotoChange($event)">
                      </div>

                      <div class="form-group col-md-6" *ngIf="imagePreview">
                        <label>Preview</label><br>
                        <img [src]="imagePreview" class="preview-img">
                      </div>

                    </div>

                    <div class="text-right">
                      <button *ngIf="!isEdit" type="button" class="btn btn-success" [disabled]="driverForm.invalid"
                        (click)="saveData(driverForm)" data-dismiss="modal">
                        Save
                      </button>

                      <button *ngIf="isEdit" type="button" class="btn btn-primary" (click)="updateData()"
                        data-dismiss="modal">
                        Update
                      </button>

                      <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">
                        Cancel
                      </button>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- ================= CONDUCTOR TAB ================= -->
        <div class="tab-pane fade" id="conductor">

          <!-- Conductor table unchanged except styling -->

          <!-- ========= CONDUCTOR FORM MODAL ========= -->
          <div class="modal fade" id="conductorModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content modern-modal">

                <div class="modal-header">
                  <h5 class="modal-title">Conductor Details</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                  <form #conductorForm="ngForm" novalidate>

                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label>Conductor ID</label>
                        <input type="text" class="form-control" [(ngModel)]="form2.conductor_id" name="conductor_id">
                      </div>

                      <div class="form-group col-md-6">
                        <label>Conductor Name</label>
                        <input type="text" class="form-control" [(ngModel)]="form2.conductor_name"
                          name="conductor_name">
                      </div>

                      <div class="form-group col-md-6">
                        <label>Contact No *</label>
                        <input type="number" class="form-control" [(ngModel)]="form2.contact_no" name="contact_no"
                          required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>AADHAAR *</label>
                        <input type="number" class="form-control" [(ngModel)]="form2.aadhaar" name="aadhaar" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>PAN *</label>
                        <input type="text" class="form-control" [(ngModel)]="form2.pan" name="pan" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>Voter ID *</label>
                        <input type="text" class="form-control" [(ngModel)]="form2.voter" name="voter" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label>License *</label>
                        <input type="text" class="form-control" [(ngModel)]="form2.license" name="license">
                      </div>

                      <!-- NEW FIELD -->
                      <div class="form-group col-md-6">
                        <label>License Expiry Date *</label>
                        <input type="date" class="form-control" [(ngModel)]="form2.licenseExpiry" name="licenseExpiry">
                      </div>

                      <div class="form-group col-md-12">
                        <label>Address *</label>
                        <input type="text" class="form-control" [(ngModel)]="form2.address" name="address" required>
                      </div>

                    </div>

                    <div class="text-right">
                      <button *ngIf="!isConductorEdit" type="button" class="btn btn-success"
                        (click)="saveDataConductor(conductorForm)" data-dismiss="modal">
                        Save
                      </button>

                      <button *ngIf="isConductorEdit" type="button" class="btn btn-primary"
                        (click)="updateDataConductor()" data-dismiss="modal">
                        Update
                      </button>

                      <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">
                        Cancel
                      </button>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>